li{
    list-style: none;

    width: 25rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    margin-top: 16px;
}

li img{
    width: 3.5rem;
}

li button {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-button{
    font-size: 1.5rem;

    color: var(--font-color);
}

li strong {
    text-align: center;

    overflow: hidden;
}